<div class='top-bar'>
    <div class='logo'>
        <a href='/'>후기</a>
    </div>
    <ul class='tab-list'>
        <%
        subMenuSelected = [];
        subMenuSelected[subPageName] = 'selected';
        %>
        <li class='<%=subMenuSelected['review'] || ""%>'>
            <a href='/review'>후기</a>
        </li>
        <li class='<%=subMenuSelected['tags'] || ""%>'>
            <a href='/tags'>태그</a>
        </li>
        <li class='<%=subMenuSelected['users'] || ""%>'>
            <a href='/users'>사용자</a>
        </li>
        <li class='<%=subMenuSelected['request'] || ""%>'>
            <a href='/request'>리뷰 요청</a>
        </li>
        <li class='<%=subMenuSelected['product'] || ""%>'>
            <a href='/product'>제품</a>
        </li>
    </ul>
    <div class='menu-set'>
        <div class='search-block'>
            <i class='glyphicon glyphicon-search'></i>
            <input type="search" class="form-control" placeholder="후기 검색" name='search-keyword'>
            </input>
            <div class='search-result'>aa</div>
        </div>
        <a class="round-btn write-btn" href="/write"> 후기 작성 </a>
        <%if (login == '1') { %>
            <a class="round-btn login-btn" href="/review?login=0"> 로그아웃 </a>
        <%} else { %>
            <a class="round-btn login-btn" href="/login_service"> 로그인 </a>
        <%} %>
    </div>
</div>
