<div class='top-bar'>
    <div class='logo'>
        <a href='/'>후기</a>
    </div>
    <ul class='tab-list'>
        <%
        subMenuSelected = [];
        if(typeof subPageName !== 'undefined') {
            subMenuSelected[subPageName] = 'selected';
        }
        %>
        <li class='<%=subMenuSelected['review'] || ""%>'>
            <a href='/review'>후기</a>
        </li>
        <li class='<%=subMenuSelected['tags'] || ""%>'>
            <a href='/tags'>태그</a>
        </li>
        <li class='<%=subMenuSelected['users'] || ""%>'>
            <a href='/users'>사용자</a>
        </li>
        <li class='<%=subMenuSelected['request'] || ""%>'>
            <a href='/request'>리뷰 요청</a>
        </li>
        <li class='<%=subMenuSelected['product'] || ""%>'>
            <a href='/product'>제품</a>
        </li>
    </ul>
    <div class='menu-set'>
        <div class='search-block'>
            <i class='glyphicon glyphicon-search'></i>
            <input type="search" class="form-control" placeholder="후기 검색" name='search-keyword'>
            </input>
            <div class='search-result'>
                <ul class='list'>
                    <li class='template hidden'>
                        <a class='link' href=#''><img class='image' src="/static/img/no_image_available.png"> <span class='text'></span></a>
                    </li>
                </ul>

            </div>
        </div>
        <a class="round-btn write-btn" href="/write"> 후기 작성 </a>
        <%if (typeof login !== 'undefined' && login == '1') { %>
        <form role="form" method="post" action="/logout" class="form-horizontal">
            <a class="round-btn login-btn" href="javascript:;" onclick="parentNode.submit();"> 로그아웃 </a>
        </form>
        <%} else { %>
        <a class="round-btn login-btn" href="/login_service"> 로그인 </a>
        <%} %>
        </div>
    </div>
</div>
